# Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- List of Popular languages used in Data Science.
- Tools for Data Science
- Model Asset Exchange
- Jupyter Architecture
- Data Visualization in R
- Version Control, Git and Github

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-Learn
2. Plotly
3. ggplot
4. Matplotlib
5. Seaborn
6. Pandas

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apazhe Zeppeline |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.
- a + b (Adding)
- a - b (Subtracting)
- a * b (Multiplying)
- a / b (Dividing)

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Karthikeyan Anumalla